<img src="assets/bg.jpg" class="bg" />
<div id="live-chat" class="effect8">		
  <header class="clearfix">
    <h4>Tara usap tayo</h4>
  </header>

  <div class="chat">			
    <div class="chat-history" #scrollBottom [scrollTop]="scrollBottom.scrollHeight">				
      <div class="clearfix effect8" [ngClass]="chat.user === user ? 'chat-ownmessage' : 'chat-message'" *ngFor="let chat of chats">
        <div class="chat-message-content clearfix">						
          <span class="chat-time">{{ chat.time }}</span>
          <h5>{{ chat.user }}</h5>
          <p>{{ chat.message }}</p>
        </div> <!-- end chat-message-content -->
      </div> <!-- end chat-message -->				
    </div> <!-- end chat-history -->

    <p class="chat-feedback">Someone is typing…</p>
    <div class="chat-input">
      <fieldset class="effect8">					
        <input type="text" placeholder="Type your message…" autofocus [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()">
      </fieldset>
    </div>
  </div> <!-- end chat -->
</div> <!-- end live-chat -->